.imgSliderContainer {
	position: relative;
	width: 100%;
	float:left;
}
.imgSlider{

}

.imgSliderContainer:hover .imgSlider .imgSliderPrev, .imgSliderContainer:hover .imgSlider .imgSliderNext {
	display: block;
}
ul.imgSliderPagination{
	list-style-type:none;
	margin: 0;
	padding: 0;
}
.sliderBottomPattern {
	background: url(../images/slider_text_box_bg.png) repeat-x;
	height: 5px;
	width: 100%;
	clear: both;
}

.imgSliderContainer .imgSlider .imgSliderC {
	width: 100%;
	background: #fff;
}
.imgSliderContainer .imgSlider .imgSliderC a{
	display:block;
	font-size:0;
}
.imgSliderContainer .imgSlider .imgSliderC img {

}
.imgSliderContainer .imgSlider .imgSliderC div section {
	display: block;
	width: 360px;
	height: 99px;
	background: url(../images/slider_text_box_bg.png) repeat;
	position: absolute;
	top: 65px;
	left: 75px;
	z-index: 10;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	padding: 25px 15px;
}
.imgSliderContainer .imgSlider .imgSliderC div section h2 {
	color: #373737;
	margin-bottom: 10px;
}
.imgSliderContainer .imgSlider .imgSliderC div section p {
	color: #fff;
}
.imgSliderContainer .imgSlider .imgSliderC div a.imgSliderTextPrev {
	position: absolute;
	top: 65px;
	left: 465px;
	width: 16px!important;
	height: 80px!important;
	display: block;
	background: url(../images/slider_text_box_btn_left_blue.png) left top no-repeat!important;
}
.imgSliderContainer .imgSlider .imgSliderC div a.imgSliderTextNext {
	position: absolute;
	top: 135px;
	left: 465px;
	width: 16px!important;
	height: 80px!important;
	display: block;
	background: url(../images/slider_text_box_btn_right_blue.png) left top no-repeat!important;
}
.imgSliderContainer .imgSlider .imgSliderC div a.imgSliderTextPrev:hover, .imgSliderContainer .imgSlider .imgSliderC div a.imgSliderTextNext:hover {
	background-position: left bottom!important;
}
.imgSliderContainer .imgSlider .imgSliderPrev, .imgSliderContainer .imgSlider .imgSliderNext {
	display: block;
	position: absolute;
	top: 38%;
	width: 48px;
	height: 48px;
	text-indent: -9999px;
	z-index: 8;
	outline: none;
	opacity: 0;
}
.imgSliderContainer .imgSlider .imgSliderPrev {
	background: url(../images/sprite.png) no-repeat scroll -4px -440px transparent;
	width: 44px;
	height: 33px;
	left: 0;
}
.imgSliderContainer .imgSlider .imgSliderNext {
	background: url(../images/sprite.png) no-repeat scroll -51px -440px transparent;
	width: 44px;
	height: 33px;
	right: 0;
}
.imgSliderContainer .imgSlider:hover .imgSliderPrev, .imgSliderContainer .imgSlider:hover .imgSliderNext {
	opacity: .8;
}
.imgSliderContainer .imgSlider .imgSliderPrev:hover {
	background-position: -4px -393px;
}
.imgSliderContainer .imgSlider .imgSliderNext:hover {
	background-position: -52px -394px;
}
.imgSliderContainer .imgSlider .imgSliderPaginationContainer {
	position: absolute;
	bottom: 20px;
	right: 0;
	z-index: 5;
	margin-right: 10px;
}
.imgSliderContainer .imgSlider .imgSliderPaginationContainer div {
	float: left;
	height: 20px;
}
.imgSliderContainer .imgSlider ul.imgSliderPagination li {
	float: left;
	margin-right: 8px;
}
.imgSliderContainer .imgSlider ul.imgSliderPagination li a {
	display: block;
	outline: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	opacity: .6;
	color: #fff;
	width:10px;
	height:10px;
	text-decoration:none;
	border: 3px solid #F39C12;
	padding:0;
	margin:0;
}

.imgSliderContainer .imgSlider .imgSliderPrev:hover, .imgSliderContainer .imgSlider .imgSliderNext:hover, .imgSliderContainer .imgSlider ul.imgSliderPagination li a:hover, .imgSliderContainer .imgSlider ul.imgSliderPagination li.imgSliderCurrent a {
	opacity: 1;
}
